<h1>Welcome to Our Bank</h1>
<h3 *ngIf="!authenticated()">Please login to continue</h3>
<div *ngIf="authenticated()">
  <h3 style="text-align: center">Transfer Money</h3>
  <hr />
  Account:
  <input
    type="text"
    [value]="transfer.to"
    (change)="handleAccountChange($event)"
  />

  <br />
  <br />

  Ammount:
  <input
    type="number"
    [value]="transfer.amount"
    (change)="handleAmountChange($event)"
  />

  <br />
  <br />

  <button (click)="transferMoney()">Transfer money</button> <br /><br />

  <button (click)="transferMoneyPost()">Transfer money - POST</button>
</div>
